.footer__links {
  display: flex;
  align-self: center;
  gap: 18px;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    align-self: flex-start;
  }
}
