.intro {
  margin: auto;
  max-width: 984px;
  max-height: 429px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 4.69%;
    margin-right: calc(100%-4.69%-690px);
    max-width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    max-height: 754px;
  }
}
