.cover__overlay {
  text-decoration: none;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #FFFFFF;
  background-color: rgb(42, 44, 47, 0.3);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover__overlay:hover {
  background-color: rgb(42, 44, 47, 0.8);
  background-blend-mode: overlay;
  transition: 0.5s ease-in-out;
  cursor: url(../../../images/cursor-pointer.svg), pointer;
}
