.footer {
  display: flex;
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 18px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-left: 3.75%;
    margin-right: 3.75%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
    margin-left: 3.125%;
    margin-right: 3.125%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
    max-height: 310px;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 5%;
    margin-right: 36.875%;
  }
}
