.intro__title {
  margin: 92px 0 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
  }
}
